# Server Configuration
PORT=5000
CORS_ORIGIN=http://localhost:5173

# Database Connection (MongoDB Atlas or Local MongoDB)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/SkillBridge?retryWrites=true&w=majority

# JWT Authentication Secrets & Expiry
ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_key_here
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret_key_here
REFRESH_TOKEN_EXPIRY=

# Cloudinary Storage (For Profile Pictures, Resumes & Certificates)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
